{% extends "base.html" %}

{% block content %}
<body>
    <!-- ==== MODAL START ==== -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Barbecue Bacon Chicken</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb-0">
                    <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quibusdam</p>
                    <p class="fw-bold mb-0">Price: $8.79</p>
                </div>
                <div>
                    <h6 class="bg-light py-2 fw-bold px-4">8<sup>th</sup> PIZZA TOPPING</h6>

                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
									<input type="checkbox">
									<span class="checkbox-custom rectangular"></span>
								</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
									<input type="checkbox">
									<span class="checkbox-custom rectangular"></span>
								</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
									<input type="checkbox">
									<span class="checkbox-custom rectangular"></span>
								</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
									<input type="checkbox">
									<span class="checkbox-custom rectangular"></span>
								</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle blue_bg px-1 text-dark">M</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
									<input type="checkbox">
									<span class="checkbox-custom rectangular"></span>
								</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
									<input type="checkbox">
									<span class="checkbox-custom rectangular"></span>
								</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
									<input type="checkbox">
									<span class="checkbox-custom rectangular"></span>
								</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
									<input type="checkbox">
									<span class="checkbox-custom rectangular"></span>
								</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
									<input type="checkbox">
									<span class="checkbox-custom rectangular"></span>
								</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle blue_bg px-1 text-dark">M</p>
                    </div>

                    <!-- AMOUNT START -->
                    <div class="my-4">
                        <h4 class="text-center">Total: $8.79</h4>
                        <div class="d-flex justify-content-center align-items-center topping_btns mt-3">
                            <button class="btn1 d-flex align-items-center justify-content-between w-100"><p class="mb-0 w-100 h2">-</p><input type="text" value="1" class="bg-transparent text-center border-0 h5 mb-0" ><p class="h2 w-100 mb-0">+</p></button>
                            <button class="btn2 ms-3">Add to My Order</button>
                        </div>
                    </div>
                    <!-- AMOUNT END -->
                </div>
            </div>
        </div>
    </div>
    <!-- ==== MODAL END ==== -->

    <!-- ==== MODAL START ==== -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Barbecue Bacon Chicken</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb-0">
                    <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quibusdam</p>
                </div>
                <div>
                    <!-- AMOUNT START -->
                    <div class="mb-4">
                        <h4 class="text-center mb-2">Total: $8.79</h4>
                        <div class="d-flex justify-content-center align-items-center topping_btns mt-3">
                            <button class="btn1 d-flex align-items-center justify-content-between w-100"><p class="mb-0 w-100 h2">-</p><input type="text" value="1" class="bg-transparent text-center border-0 h5 mb-0" ><p class="h2 w-100 mb-0">+</p></button>
                            <button class="btn2 ms-3">Add to My Order</button>
                        </div>
                    </div>
                    <!-- AMOUNT END -->
                </div>
            </div>
        </div>
    </div>
    <!-- ==== MODAL END ==== -->

    <!-- ==== MODAL START ==== -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Barbecue Bacon Chicken</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb-0">
                    <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quibusdam</p>
                    <p class="fw-bold mb-0">Price: $8.79</p>
                </div>
                <div>
                    <h6 class="bg-light py-2 fw-bold px-4">8<sup>th</sup> Burger TOPPING</h6>

                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
											<input type="checkbox">
											<span class="checkbox-custom rectangular"></span>
										</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
											<input type="checkbox">
											<span class="checkbox-custom rectangular"></span>
										</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
											<input type="checkbox">
											<span class="checkbox-custom rectangular"></span>
										</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
											<input type="checkbox">
											<span class="checkbox-custom rectangular"></span>
										</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle blue_bg px-1 text-dark">M</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
											<input type="checkbox">
											<span class="checkbox-custom rectangular"></span>
										</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
											<input type="checkbox">
											<span class="checkbox-custom rectangular"></span>
										</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
											<input type="checkbox">
											<span class="checkbox-custom rectangular"></span>
										</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
											<input type="checkbox">
											<span class="checkbox-custom rectangular"></span>
										</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle green_bg px-1 text-white">V</p>
                    </div>
                    <div class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                        <div class="d-flex align-items-center"> <label class="checkbox-label">
											<input type="checkbox">
											<span class="checkbox-custom rectangular"></span>
										</label>

                            <p class="mb-0 fw600 ps-1 pe-3">
                                Black olives
                            </p>
                            <span><small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">+$1.05</small></span>
                        </div>
                        <p class="mb-0 rounded-circle blue_bg px-1 text-dark">M</p>
                    </div>

                    <!-- AMOUNT START -->
                    <div class="my-4">
                        <h4 class="text-center">Total: $8.79</h4>
                        <div class="d-flex justify-content-center align-items-center topping_btns mt-3">
                            <button class="btn1 d-flex align-items-center justify-content-between w-100"><p class="mb-0 w-100 h2">-</p><input type="text" value="1" class="bg-transparent text-center border-0 h5 mb-0" ><p class="h2 w-100 mb-0">+</p></button>
                            <button class="btn2 ms-3">Add to My Order</button>
                        </div>
                    </div>
                    <!-- AMOUNT END -->
                </div>
            </div>
        </div>
    </div>
    <!-- ==== MODAL END ==== -->


    <!-- ==== SIDEBAR START ==== -->
    <div id="sideBarId" class="sideBar">
        <div class="d-flex flex-column">
            <div id="closeSidebar" onclick="closeSidebar()" class="align-self-start">
                <i class="fas fa-times h1"></i>
            </div>

            <ul class="list-unstyled ps-4">
                <li onclick="closeSidebar()" class="mt-3">
                    <a class="text-decoration-underline text-dark fw-bold" href="{% url 'home' %}">
						Menu
					</a>
                </li>
                <li onclick="closeSidebar()" class="mt-3">
                    <a class="text-decoration-underline text-dark fw-bold" href="{% url 'menu_button' %}">
						My Order
						</a>
                </li>
            </ul>
            <ul class="d-inline-flex list-unstyled icons ps-4 mt-2">
                <li onclick="closeSidebar()">
                    <a class="h5 mx-3" target="_blank" href="http://facebook.com/">
                        <i class="fab fa-twitter text-dark h3"></i>
                    </a>
                </li>
                <li onclick="closeSidebar()">
                    <a class="h5" target="_blank" href="https://twitter.com/">
                        <i class="fab fa-facebook-f text-dark h3"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- ==== SIDEBAR END ==== -->

    <!-- HEADER START -->
    <div class="
				header_container
				position-fixed
				top-0
				lef-0
				py-2 py-md-3
				bg-white
				w-100
				shadow-sm
			">
        <div class="page_container">
            <div class="container-fluid position-relative">
                <div class="
							d-flex
							justify-content-center justify-content-md-between
							align-items-center
						">
                    <div class="logo_container">
                        <!-- <img src="assets/images/logo.png" alt="logo" /> -->
                        <h1 class="fw-bold mb-0">Rathskeller</h1>
                    </div>
                    <div class="d-none d-md-flex">
                        <div>
                            <a class="text-decoration-none h6 text-dark mb-0" href="index.html">Menu</a
								>
							</div>
							<div class="ms-3">
								<a class="text-decoration-none h6 text-dark mb-0" href="menu.html"
									>My Order</a
								>
							</div>
						</div>
					</div>

					<!-- HUMBERGAR START -->
					<div
						id="hambergerBtn"
						class="hamber_container d-block d-md-none position-absolute"
					>
						<i class="fas fa-bars"></i>
					</div>
					<!-- HUMBERGAR END -->
				</div>
			</div>
		</div>
		<!-- HEADER END -->

		<!-- HERO SECTION START -->
		<div class="hero_section position-relative">

			<!-- BOTTOM PRODUCT DETAILS START -->
			<div
				class="
					detailProduct_container
					position-absolute
					bottom-0
					w-100
					text-white
					py-2
					pe-4 pe-lg-0
					ps-4 ps-md-0
				"
			>
				<div class="page_container">
					<div class="container-fluid">
					<h1 class="mb-0">Rathskeller Pizza Grill</h1>
				</div>
				</div>
			</div>
			<!-- BOTTOM PRODUCT DETAILS END -->
		</div>
		<!-- HERO SECTION END -->

		<!-- BODY SECTION START -->
		<div class="body_section pb-4">
			<div class="page_container">
				<div class="container-fluid">
					<div class="row mt-4">
						<div class="col-12">
							<!-- SLIDER START -->
							<div class="mostpopular_container mt-4">
								<h4 class="fw-bold">Feature Products</h4>

								<div id="splide" class="splide">
									<div class="splide__track">
										<ul class="splide__list">
											<li data-bs-toggle="modal" data-bs-target="#exampleModal" class="splide__slide pointer px-2 py-2">
												<div class="popularCard boxCont">
													<img
														src="https://images.unsplash.com/photo-1555072956-7758afb20e8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
														alt=""
													/>
													<div class="p-3">
														<h6 class="mb-1 fw-bold">Margueirta</h6>
														<p class="small mb-0 text-secondary">
															Lorem ipsum dolor sit amet consectetur adipisicing
															elit. Dolore
														</p>
														<h6 class="fw-bold my-2">Starting from</h6>
														<h6 class="price h5 fw-bold mb-0">$ 10.00</h6>
													</div>
												</div>
											</li>
											<li data-bs-toggle="modal" data-bs-target="#exampleModal" class="splide__slide pointer px-2 py-2">
												<div class="popularCard boxCont">
													<img
														src="https://images.unsplash.com/photo-1555072956-7758afb20e8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
														alt=""
													/>
													<div class="p-3">
														<h6 class="mb-1 fw-bold">Margueirta</h6>
														<p class="small mb-0 text-secondary">
															Lorem ipsum dolor sit amet consectetur adipisicing
															elit. Dolore
														</p>
														<h6 class="fw-bold my-2">Starting from</h6>
														<h6 class="price h5 fw-bold mb-0">$ 10.00</h6>
													</div>
												</div>
											</li>
											<li data-bs-toggle="modal" data-bs-target="#exampleModal" class="splide__slide pointer px-2 py-2">
												<div class="popularCard boxCont">
													<img
														src="https://images.unsplash.com/photo-1555072956-7758afb20e8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
														alt=""
													/>
													<div class="p-3">
														<h6 class="mb-1 fw-bold">Margueirta</h6>
														<p class="small mb-0 text-secondary">
															Lorem ipsum dolor sit amet consectetur adipisicing
															elit. Dolore
														</p>
														<h6 class="fw-bold my-2">Starting from</h6>
														<h6 class="price h5 fw-bold mb-0">$ 10.00</h6>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- SLIDER START -->

							<div id="services" class="mt-5 pt-1">
								<!-- UNDER LIST 1 START -->
								<a class="anchor" id="regular_flavors"></a>
                            <div class="mt-4">
                                <div class="d-flex justify-content-center align-items-center toggleHead">
                                    <h1 class="mb-0 fw500">Product List</h1>
                                </div>
                                <br/>
                                <br/>
                                <div class="container-fluid px-3">
                                    <h2 class="mb-0">Pizza's <i class="fas fa-long-arrow-alt-right h4 mb-1"></i></h2>
                                    <div id="listData" class="row"></div>
                                </div>
                                <br/>
                                <br/>
                                <div class="container-fluid px-3">
                                    <h2 class="mb-0">Soft Drinks <i class="fas fa-long-arrow-alt-right h4 mb-1"></i></h2>
                                    <div id="listData2" class="row"></div>
                                </div>
                                <br/>
                                <br/>
                                <div class="container-fluid px-3">
                                    <h2 class="mb-0">Burger's <i class="fas fa-long-arrow-alt-right h4 mb-1"></i></h2>
                                    <div id="listData3" class="row"></div>
                                </div>
                            </div>
                            <!-- UNDER LIST 1 END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BODY SECTION END -->

    <!-- FOOTER SECTION START -->
    <div class="footer_container mt-5">
        <div class="page_container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-10 col-md-12 mx-auto">
                        <div class="row text-white">
                            <div class="col-6 col-md-3 d-flex flex-column">
                                <h4 class="text-uppercase">quick links</h4>
                                <a href="" class="small mb-2">About us</a>
                                <a href="" class="small mb-2">Add your restaurant</a>
                                <a href="" class="small mb-2">Deliver with us</a>
                            </div>
                            <div class="
										col-6 col-md-3
										contactUs
										d-flex
										flex-column
									">
                                <h4 class="text-uppercase">Contacs</h4>
                                <a href=""><i class="bi bi-geo-alt-fill me-2 color2"></i>
										<span class="small"
											>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span
										>
									</a>
                                <a href=""><i class="bi bi-telephone-fill me-2 color2"></i>
										<span class="small"> 1323554545 </span>
									</a>
                                <a href=""><i class="bi bi-envelope-fill me-2 color2"></i
										><span class="small">info@.com </span>
									</a>
                            </div>
                            <div class="col-12 col-md-2 ms-auto d-flex flex-column mt-5 mt-md-0">
                                <h4 class="text-uppercase">follow us</h4>
                                <div class="followUsIcon d-flex align-items-center">
                                    <div><i class="bi bi-facebook"></i></div>
                                    <div><i class="bi bi-twitter ms-2"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}