{% extends "base.html" %}

{% block content %}
{% include "rath/partials/hero.html" %}
<div class="container my-5">
    <div class="d-flex justify-content-center align-items-center toggleHead">
        <h1 class="mb-0 fw500 my-5">Product List</h1>
    </div>
    {% for category in categories %}

    <h2 class="mb-0">{{category.name}} <i class="fas fa-long-arrow-alt-right h4 mb-1"></i></h2>

    <div id="listData" class="row my-5">
        {% for item in category.categories.all %}
        <div class="modal fade" id="item-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{item.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body mb-0">

                        <div id="notify-{{item.id}}"></div>
                        <p class="my-2">
                            {{item.description}}
                        </p>
                        <p class="fw-bold mb-0">Price: $<span id=price-header-{{item.id}}>{{item.price}}<span></p>
                    </div>
                    <form action="{% url 'order:add' %}" method="post" hx-post="{% url 'order:add' %}"
                        hx-target="#notify-{{item.id}}">
                        <input type="hidden" name="item-id" value={{item.id}}>
                        {% csrf_token %}
                        <div>
                            {# <h6 class="bg-light py-2 fw-bold px-4">8<sup>th</sup> PIZZA TOPPING</h6> #}
                            {% for extra in item.item_attributes.all %}
                            <div
                                class="px-4 d-flex justify-content-between align-items-center py-2 border-bottom border-1">
                                <div class="d-flex align-items-center">
                                    <label class="form-check-label">
                                        <!-- <span class="checkbox-custom rectangular"></span> -->
                                        <input class="form-check-input select-extra" data-extra="{{extra.price}}"
                                            type="checkbox" name="selected" data-extra-id="{{extra.id}}" value="{{extra.id}}">
                                    </label>

                                    <p class="mb-0 fw600 ps-1 pe-3">
                                        {{extra.name}}
                                    </p>
                                    <span>
                                        <small class="f10 bg-gray_ px-2 fw-bold py-1 rounded-pill">
                                            +$<span class="extra">{{extra.price}}</span>
                                        </small>
                                    </span>
                                </div>
                                <p class="mb-0 rounded-circle {{extra.diet.display_name_css_bg}} px-1 text-dark">
                                    {{extra.diet.get_display_title}}</p>
                            </div>
                            {% endfor %}

                            <!-- AMOUNT START -->
                            <div class="my-4">
                                <h4 class="text-center">Total: $<span id="total-{{item.id}}"
                                        data-total={{item.price}}>{{item.price}}</span></h4>
                                <div class="d-flex justify-content-center align-items-center topping_btns mt-3">
                                    <button type="button"
                                        class="btn1 d-flex align-items-center justify-content-between w-100">
                                        <p class="mb-0 w-100 h2 minus" data-price={{item.price}} data-id={{item.id}}>-
                                        </p><input type="text" name="total" value="1"
                                            class="bg-transparent text-center border-0 h5 mb-0">
                                        <p class="h2 w-100 mb-0 add" data-price={{item.price}} data-id={{item.id}}>+</p>
                                        </buton>
                                        <button class="btn2 ms-3" type="submit">Add to My Order</button>
                                </div>
                            </div>
                            <!-- AMOUNT END -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-4">

            <div data-bs-toggle="modal" data-bs-target="#item-{{item.id}}"
                class="d-flex align-items-center listCardCont boxCont pointer">
                <div>
                    <img src="{% if item.item_image %}{{ item.item_image.url }}{% else %}https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80{% endif %}"
                        alt="">
                </div>
                <div class="ms-4 py-2">
                    <h6 class="mb-1 mb-0 h5">{{item.name}}</h6>
                    <p class="small mb-0 text-secondary mt-1 px-2">
                        {{item.description|capfirst|truncatewords:10}}
                    </p>
                    <div class="d-flex align-items-baseline mt-1">
                        <h6 class="price h4 mb-0 fw-bold"><i class="bi bi-cart3"></i> ${{item.get_price}}</h6>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    const addBtn = document.querySelectorAll(".add");
    const minusBtn = document.querySelectorAll(".minus");
    const extraCheck = document.querySelectorAll(".select-extra");


    addBtn.forEach(btn => {
        const limit = 10
        btn.addEventListener("click", function (e) {
            const inputElement = e.target.previousElementSibling;
            if (inputElement.value < limit)
                inputElement.value++
            TotalId = 'total-' + e.target.dataset.id
            const total = document.getElementById(TotalId);
            total.innerHTML = parseInt(e.target.dataset.price) * inputElement.value
            priceHeader = "price-header-" + e.target.dataset.id
            document.getElementById(priceHeader).innerHTML = parseInt(e.target.dataset.price) *
                inputElement.value
        })
    })

    minusBtn.forEach(btn => {
        btn.addEventListener("click", function (e) {
            const inputElement = e.target.nextElementSibling;
            if (inputElement.value <= 1) {
                console.log("negative values")
            } else {
                inputElement.value--
                TotalId = 'total-' + e.target.dataset.id
                const total = document.getElementById(TotalId);

                total.innerHTML = parseInt(e.target.dataset.price) * inputElement.value
                priceHeader = "price-header-" + e.target.dataset.id
                document.getElementById(priceHeader).innerHTML = parseInt(e.target.dataset.price) *
                    inputElement.value

            }
        })
    })
    extraCheck.forEach(check=>{
        check.addEventListener("change", function(e){
            if(e.target.checked == true){
                // console.log(e.target.value)
                const i = 'total-'+ e.target.dataset.extraId
                const addTotal = document.getElementById(i)
                const extraPrice = parseInt(e.target.dataset.extra)
                total = parseInt(addTotal.dataset.total)
                console.log(addTotal)
                // extra = extraPrice + total;
                // addTotal.innerHTML = extra
            }
        })
    })
</script>
{% endblock %}