{% extends "base.html" %}
{% load convert_json %}
{% block title %}{% endblock %}
{% comment %}
https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80
https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80
{% endcomment %}


{% block content %}
<!-- BODY START -->
<div class="order_body_container">
    <div class="page_container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-10 mx-auto">
                    <form action="#" class="form" method="post" id="detail-form">
                        <h1 class="text-center">My Order</h1>
                        <!-- Progress bar -->
                        <div class="progressbar mt-5">
                            <div class="progress" id="progress"></div>
                            <div class="progress-step progress-step-active" data-title="Intro"></div>
                            <div class="progress-step" data-title="Contact"></div>
                            <div class="progress-step" data-title="ID"></div>
                        </div>
                        <div id="message"></div>

                        <!-- Steps -->
                        <div class="form-step form-step-active">
                            <div class="container-fluid">
                                <div class="row">
                                    {% for item in cart %}
                                    {% with product=item.product %}
                                    {% if item.extra %}

                                    <div class="modal fade" id="item-{{item.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">{{product.category}}
                                                        - {{product.name}}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body mb-0">
                                                    <div id="notify-{{item.id}}">Extra</div>
                                                    {% for extra in item.extra|convert_object %}
                                                    <p class="my-2">
                                                        <span>Name: {{extra.name}}</span> <span class="badge">Price:
                                                            {{extra.price}}</span>
                                                    </p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% endif %}
                                    <div class="col-12 mt-4 content">
                                        <div data-bs-toggle="modal"
                                            data-bs-target="{% if product.item_attributes.all %} #item-{{item.id}} {% endif %}"
                                            class="d-flex align-items-center listCardCont boxCont pointer">
                                            <div>
                                                {% if product.item_image %}
                                                <img src="{{product.item_image.url}}" alt="{{product.name}}" />
                                                {% endif %}
                                            </div>

                                            <div class="px-4 py-2 w-100">
                                                <h6 class="mb-1 mb-0 h5 name">{{product.name}}</h6>
                                                <p class="mb-0 text-secondary mt-1 description">
                                                    {{product.description|truncatewords:10}}
                                                </p>

                                                <span class="text-muted badge">$<span
                                                        class="price">{{product.price}}</span> x
                                                    <span class="quantity">{{item.quantity}}</span></span>
                                                <div class="d-flex align-items-baseline justify-content-end mt-3">
                                                    <h6 class="price h4 mb-0 fw-bold"><i class="bi bi-cart3"></i>
                                                        <span class="total">${{item.total_price}}</span></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% endfor %}
                                    <div class="col-12 mt-3">
                                        <label class="fw-bold mb-0" for="phone">Delivery Date</label>
                                        <input type="date" name="delivery-date" id="date" class="w-100 delivery-date" />
                                    </div>
                                </div>
                                <div class="col-12 mt-4">
                                    <div class="d-flex align-items-center justify-content-end px-4">
                                        <small class="h5 mb-0">Total:</small>
                                        <h6 class="ms-2 fw-bold h4 mb-0 grand-total">
                                            ${{ cart.get_total_price|floatformat:2 }}</h6>
                                    </div>
                                    <div class="row justify-content-center mt-3 mt-md-4 gy-4 gx-3 order_btn">
                                        <div class="col-6 col-lg-4">
                                            <a href="{% url 'order:clear-cart' %}"
                                                class="btn btn-next w-100 ml-auto text-danger">Cancel
                                                Order</a>
                                        </div>
                                        <div class="col-6 col-lg-4">
                                            <a href="#" class="btn btn-next w-100 ml-auto text-info">User Detail</a>
                                        </div>
                                        <div class="col-6 col-lg-4">
                                            <a href="#" class="btn btn-next w-100 ml-auto text-white">Checkout</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-step">
                            <div id="notify"></div>
                            {% csrf_token %}
                            <div class="mt-3">
                                <label class="fw-bold mb-0" for="name">Name</label>
                                <input type="text" name="name" id="name" placeholder="Enter your Name" required />
                            </div>
                            <div class="mt-3">
                                <label class="fw-bold mb-0" for="email">Email</label>
                                <input type="email" name="email" id="email" placeholder="Enter your Email" required />
                            </div>
                            <div class="mt-3">
                                <label class="fw-bold mb-0" for="phone">Phone</label>
                                <input type="tel" name="phone" id="phone" placeholder="Enter your Phone" required />
                            </div>
                            <div class="mt-3">
                                <label class="fw-bold mb-0" for="address">Address</label>
                                <input type="text" name="address" id="address" placeholder="Enter your Address"
                                    required />
                            </div>
                            <div class="btns-group d-flex justify-content-center mt-5">
                                <a href="#" class="btn btn-prev btn2_">Previous</a>
                                <button type="submit" class="btn btn1_ text-white ms-3">Confirm</button>
                            </div>

                        </div>
                        <div class="form-step">
                            <div class="container-fluid">
                                <div class="row position-relative">
                                    <video id="video" autoPlay muted src="./assets/confirm.mp4"></video>
                                    <h1 class="position-absolute text-center">Order Confirmed!</h1>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const prevBtns = document.querySelectorAll(".btn-prev");
    const nextBtns = document.querySelectorAll(".btn-next");
    const progress = document.getElementById("progress");
    const formSteps = document.querySelectorAll(".form-step");
    const progressSteps = document.querySelectorAll(".progress-step");
    const detailForm = document.getElementById("detail-form");
    const contentContainer = document.querySelectorAll(".content");
    let formStepsNum = 0;

    nextBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            formStepsNum++;
            updateFormSteps();
            updateProgressbar();
        });
    });

    prevBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            formStepsNum--;
            updateFormSteps();
            updateProgressbar();
        });
    });

    function updateFormSteps() {
        formSteps.forEach((formStep) => {
            formStep.classList.contains("form-step-active") &&
                formStep.classList.remove("form-step-active");
        });

        formSteps[formStepsNum].classList.add("form-step-active");
    }

    function updateProgressbar() {
        progressSteps.forEach((progressStep, idx) => {
            if (idx < formStepsNum + 1) {
                progressStep.classList.add("progress-step-active");
            } else {
                progressStep.classList.remove("progress-step-active");
            }

            if (idx === 2) {
                setTimeout(() => {
                    document.getElementById("video").pause()
                }, 3000)
            }
        });

        const progressActive = document.querySelectorAll(".progress-step-active");

        progress.style.width =
            ((progressActive.length - 1) / (progressSteps.length - 1)) * 100 + "%";
    }

    // $(document).ready(function () {
    //     $('.stepper').mdbStepper();
    // })

    function someFunction21() {
        setTimeout(function () {
            $('#horizontal-stepper').nextStep();
        }, 2000);
    }

    // SECOND PAGE (ORDER PAGE) START
    $.each([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], function (key, value) {
        $("#tbody").append(`<tr>
                            <th scope="row">6465D44</th>
                            <td>
                                <h6 class="fw-bold mb-1">Native Burger</h6>
                                <p class="mb-0">Order Type Delivery</p>
                                <p class="mb-0"><i class="bi bi-map-fill me-1"></i> Lorem ipsum dolor sit amet
                                    consectetur adipisicing
                                    elit.</p>
                                <p class="mb-0"><i class="bi bi-clock-fill me-1"></i> 15:56:26 12-6-2020</p>
                            </td>
                            <td>Delivered</td>
                            <td>€55.00</td>
                            <td>
                                <button class="themeBtn px-2 w-100 mb-2 py-1 text-white rounded-3 border-0 ${key === 0 && "d-none"}">Order details</button>
                <br />
                <button
                class="themeBtn2 bg-transparent px-2 w-100 rounded-3 ${key === 0 && "d-none"}">Support</button></td>
        </tr>
    `);
    });
    // SECOND PAGE (ORDER PAGE) END

    // HAMBERGER START GLOBAL
    const sidebar = document.getElementById("sideBarId");
    document.getElementById("hambergerBtn").addEventListener("click", () => {
        sidebar.style.display = "block";
        sidebar.style.opacity = "1";
        sidebar.style.top = "0%";
        sidebar.style.left = "0%";
        sidebar.style.transform = "none";
    });

    const closeSidebar = () => {
        sidebar.style.display = "none";
        sidebar.style.opacity = "0";
        sidebar.style.transition = "1s all";
    };
    // HAMBERGER END GLOBAL

    //ADDRESS SUBMIT AND DATA WRANGLING
    detailForm.addEventListener("submit", function (e) {
        e.preventDefault();
        const deliveryDate = document.getElementById("date");
        const messageBox = document.getElementById("message");

        if (deliveryDate.value === "") {
            console.log("empty")
            message.innerHTML = `<div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>Info Empty delivery date!</strong> Delivery date should not be empty.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>`
        } else {
            if (contentContainer !== null) {
                contentContainer.forEach(item => {
                    console.log(item)
                })
            }
        }
        // fetch("{% url 'order:create' %}", {
        //     method: "post", 
        //     body: {}
        // }).then(res=>{
        //     return res.json()
        // }).then(data=>{
        //     console.log(data)
        // }).error(err=>{
        //     console.log(err)
        // })
    });
</script>
{% endblock %}