<div class="footer_container mt-5">
    <div class="page_container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-12 mx-auto">
                    <div class="row text-white">
                        <div class="col-6 col-md-3 d-flex flex-column">
                            <h4 class="text-uppercase">quick links</h4>
                            <a href="" class="small mb-2">About us</a>
                            <a href="" class="small mb-2">Add your restaurant</a>
                            <a href="" class="small mb-2">Deliver with us</a>
                        </div>
                        <div class="
                                    col-6 col-md-3
                                    contactUs
                                    d-flex
                                    flex-column
                                ">
                            <h4 class="text-uppercase">Contacs</h4>
                            <a href=""><i class="bi bi-geo-alt-fill me-2 color2"></i>
                                    <span class="small"
                                        >Lorem ipsum dolor sit amet consectetur adipisicing elit.</span
                                    >
                                </a>
                            <a href=""><i class="bi bi-telephone-fill me-2 color2"></i>
                                    <span class="small"> 1323554545 </span>
                                </a>
                            <a href=""><i class="bi bi-envelope-fill me-2 color2"></i
                                    ><span class="small">info@.com </span>
                                </a>
                        </div>
                        <div class="col-12 col-md-2 ms-auto d-flex flex-column mt-5 mt-md-0">
                            <h4 class="text-uppercase">follow us</h4>
                            <div class="followUsIcon d-flex align-items-center">
                                <div><i class="bi bi-facebook"></i></div>
                                <div><i class="bi bi-twitter ms-2"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>