<div class="hero_section position-relative">

    <!-- BOTTOM PRODUCT DETAILS START -->
    <div class="
            detailProduct_container
            position-absolute
            bottom-0
            w-100
            text-white
            py-2
            pe-4 pe-lg-0
            ps-4 ps-md-0
        ">
        <div class="page_container">
            <div class="container-fluid">
            <h1 class="mb-0">Rathskeller Pizza Grill</h1>
        </div>
        </div>
    </div>
    <!-- BOTTOM PRODUCT DETAILS END -->
</div>